.App-header {

  display: flex;
  
  justify-content: space-around;
}

h3{
  color: rgb(255, 0, 0);
  text-shadow: 2px 2px 4px #000000;
}

.ListItemContainer{
display: flex;
align-items: center;
border-bottom: 1px solid gray;
}

img{

  margin-right: 8px;
}


