*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

header{
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
   
}

.semana{
    border: 1px solid black;
   padding: 0.6em;
    width: 14vw;
   
    /* padding: 0.4em; */
}
.linha{
    border-bottom: 1px solid black;
    margin-bottom: 2em;
    
    width: 11em;
}

body{
    background-color: rgb(111, 156, 211);
   
}




