/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}




h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px #000 solid;
    outline: none;

}

button:focus {
    color: white;
  
}

img {
    width: 100px;
}

div>p:first-child {
    display: inline;
    position: relative;
  top: 10em;
   
}

.container ol,li,h3{
    position: relative;
    top: 7em;
    

    
}


ol li{
    list-style-position: inside;
   
}


div img {
    background: black;
}

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    position: relative;
    outline: none;
    right: 15em;
    top: 33em;
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 500px;
    text-align: center;
   
}

.icone {
    height: 3em;
    width: 3em;
   
}


.icone:hover{
    opacity: 0.5;
}

.icone:active{
    opacity: 1.0;
}

/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
}

#container-de-descricao>ol {
    padding: 15px 0px;
}

#container-para-comprar {
    background-color: #e7eb90;
}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: 60%;
    text-align: center;
    margin-left:20em;
    
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
    outline: none;
}

td button:hover{
    
    color:blue;
}

td button:active{
    color: white;
}

td img{
    width: 3em;
    
}

.container-do-search {
    margin-top: 70px ;
    height: 100px;
    
}


#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    outline: none;
}

#back-button:hover {
    background-color: #635a3d
}