html,
body {
    margin: 0;
    padding: 0;

}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}


header {
    display: flex;
    justify-content: space-between;
   padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(16, 15, 15);
    color: white;
   
}


h1 {
    margin: 50px 60px 10px 10px;
    text-align: center;
}

p {
    margin: 50px 60px 10px 10px;
    text-align: center;
}

.menu {
    display: flex;
}



.menu li {
    list-style: none;
    margin-left: 20px;


}

.menu li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px;
}



img{
    margin-left: 1em;
padding-top: 12em;
    width: 15em;
    height: 40em;
}

footer {

    margin-top: 40em;
    background-color: rgb(16, 15, 15);
    padding: 10px;
    color: white;
}